<html>
<head>
  <title>Syncman projects</title>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <script src="/shared/js/prototype.js"></script>
  <script src="/shared/js/Limb.js"></script>
  <script src="/shared/js/Limb/browser.js"></script>
  <script src="/shared/js/Limb/events.js"></script>
  <script src="/shared/js/Limb/http.js"></script>
  <script src="/shared/js/Limb/window.js"></script>
  <script src="/shared/js/Limb/forms.js"></script>
  <script src="/shared/js/Limb/form_elements.js"></script>
  <script src="/shared/js/scriptaculous/scriptaculous.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/main.js"></script>
</head>
<body>

  <div id="wrapper">

    <div id="content">

      <div id="head">
        <img src="/images/logo.syncman.gif"  width='250' height='63' alt='SYNCMAN' id='logo'/>
        <span class='version'><?php echo SYNCMAN_VERSION; ?></span>
      </div>

      <list:list id='categories'>
      <list:item>

       <fieldset>
         <legend>

         <strong>Category '{$name}'</strong>

         <a href='#' id='{$name}_category_toggle' onclick='category_toggle("{$name}_category"); return false;'><img src="/images/icon/close.gif"  width='11' height='11' alt='open'/></a>

         </legend>

         <div id='{$name}_category'>

          <list:list from='projects'>
          <form name='list_form' method='post'>
            <table id='list'>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Last Sync</th>
              <th>Last Rev</th>
              <th>Current Rev</th>
              <th>Info</th>
              <th>Actions</th>
            </tr>
            <list:item>
            <tr class='list'>
              <td class='selector'><input type='checkbox' name='ids[]' value='{$name}' class='input' runat='client'/></td>
              <td class='project_name'>
                <core:OPTIONAL for='is_changed'><span class='changed'>{$name}</span></core:OPTIONAL>
                <core:DEFAULT for='is_changed'><span class='not_changed'>{$name}</span></core:DEFAULT>
              </td>
              <td>{$last_sync_date}</td>
              <td>{$last_sync_rev}</td>
              <td>{$repository_rev}</td>
              <td width='50%'>
                <a href='#' id='{$name}_info_toggle' onclick='info_toggle("{$name}_info"); return false;'><img src="/images/icon/plus.gif"  width='10' height='10' alt='plus'/></a>
                <dl id='{$name}_info' class='info'>
                  <dt>Repos:</dt><dd>{$repository}</dd>
                  <dt>Remote host:</dt><dd>{$user}@{$host}</dd>
                  <dt>Remote dir:</dt><dd>{$remote_dir}</dd>
                  <dt>Presync cmd:</dt><dd>{$presync_cmd}</dd>
                  <dt>Sync cmd:</dt><dd>{$sync_cmd}</dd>
                  <dt>Postsync cmd:</dt><dd>{$postsync_cmd}</dd>
                </dl>
              </td>
              <td class='actions'>
                <core:optional for='is_locked'>
                <route_url params='action:unlock,id:{$name}'  onclick="res = confirm('Are you sure?');if(res){w = window.open(this.href, 'Unlock', 'toolbar=0,location=0,width=400px,height=400px');w.focus();};return false"><img src="/images/icon/unlock.gif" alt="Unlock" title="Force unlock"/></route_url>
                </core:optional>
                <core:default for='is_locked'>
                <route_url params='action:sync' extra='?id={$name}' onclick="res = confirm('Are you sure?');if(res){w = window.open(this.href, 'Sync!', 'toolbar=0,location=0,width=800px,height=800px');w.focus();};return false"><img src="/images/icon/sync.gif" alt="Sync!" title="Synchronize project with remote"/></route_url>
                </core:default>
                <route_url params='action:diff,id:{$name}'  onclick="w = window.open(this.href, 'Diff', 'toolbar=0,location=0,width=800px,height=800px');w.focus();return false"><img src="/images/icon/diff.gif" alt="Diff" title="Show difference"/></route_url>
              </td>
            </tr>
            </list:item>
            </table>
            <route_url_set field='sync_url' params="action:sync" />
            <input type='submit' value='Sync!' onclick='Limb.Form.submit(this.form, "{$sync_url}?popup=1");return false;'/>
          </form>
          </list:list>

         </div>

        </fieldset>

      </list:item>
      </list:list>

    </div>

    <div id="footer">
      <a href="http://www.bit-creative.com/" target="_blank" title="BIT project" id='bit'><img src="/images/bit.gif"  onMouseOut="this.src='/images/bit.gif';" onMouseOver="this.src='/images/bit_hover.gif';" alt="BIT project" width="80" height="21"/></a>
      <a href="http://www.limb-project.com" id='limb'><img src="/images/logo.limb.gif"  width='114' height='41' alt='LIMB'/></a>
    </div>

  </div>

</body>
</html>
